1:1
# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage
.tox/

# Virtual environments
.venv/
venv/

# Git files
.git/
.gitignore

# Local dev artifacts
*.db
*.log
backups/
.env*

# Ignore everything not needed in container
/tests
/docs
.vscode
.idea 